[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
spacy = "*"
textblob = "*"
matplotlib = "*"
wordcloud = "*"
bs4 = "*"
gensim = "*"
pyldavis = "*"
sumy = "*"
googletrans = "*"
nltk = "*"

[requires]
python_version = "3.6"
